<h1>Productos</h1>

<div>
    {{#each products.docs}}
    <div>
        <h3>Producto: {{this.title}}</h3>
        <p>Descripción: {{this.description}}</p>
        <p>Precio: {{this.price}}</p>
        <p>Código: {{this.code}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Categoría: {{this.category}}</p>
        <p>Status: {{this.status}}</p>
        <p>Habilitado: {{this.available}}</p>

        <button id="{{this._id}}">Agregar al carrito</button>
    </div>
    {{/each}}

    {{#if products.hasPrevPage}}
        <button><a href={{products.prevLink}}>Pagina anterior</a></button>
    {{/if}}

    <span>Pagina: {{products.page}}</span>

    {{#if products.hasNextPage}}
        <button><a href={{products.nextLink}}>Pagina siguiente</a></button>
    {{/if}}
</div>

<script src="js/products.js"></script>