<h1>Bienvenido/a {{user.firstName}}  {{user.lastName}} - Role: {{user.role}}</h1>

<h3>Productos</h3>
<div>
    {{#each products.payload}}
    <div class="product-item">
        <p>Producto: {{this._id}}</p>
        <p>Producto: {{this.title}}</p>
        <p>Descripción: {{this.description}}</p>
        {{#if this.thumbnail}}
            <img width='150px' src="{{this.thumbnail}}" alt="{{this.title}}">
        {{/if}}
        <p>Precio: {{this.price}}</p>
        <p>Código: {{this.code}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Categoría: {{this.category}}</p>
        <p>Status: {{this.status}}</p>
        <p>Habilitado: {{this.available}}</p>


        <button name="addToCartButton" id="{{this._id}}">Agregar al carrito</button>
    </div>
    {{/each}}

    {{#if products.hasPrevPage}}
        <button><a href="/products?page={{products.prevPage}}">Pagina anterior</a></button>
    {{/if}}

    <span>Pagina: {{products.page}}</span>

    {{#if products.hasNextPage}}
        <button><a href="/products?page={{products.nextPage}}">Pagina siguiente</a></button>
    {{/if}}
</div>

<button id="logoutBtn" type="button">Cerrar sesión </button>
<button><a href="/cart">Ir al carrito</a></button>

<script src="/js/products.js"></script>