<h1>Productos</h1>

<div>
    {{#each payload}}
    <div class="product-item">
        <p>Producto: {{this._id}}</p>
        <p>Producto: {{this.title}}</p>
        <p>Descripción: {{this.description}}</p>
        <p>Precio: {{this.price}}</p>
        <p>Código: {{this.code}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Categoría: {{this.category}}</p>
        <p>Status: {{this.status}}</p>
        <p>Habilitado: {{this.available}}</p>

        <button id="{{this._id}}">Agregar al carrito</button>
    </div>
    {{/each}}

    {{#if hasPrevPage}}
        <button><a href="/products?page={{prevPage}}">Pagina anterior</a></button>
    {{/if}}

    <span>Pagina: {{page}}</span>

    {{#if hasNextPage}}
        <button><a href="/products?page={{nextPage}}">Pagina siguiente</a></button>
    {{/if}}
</div>

<script src="js/products.js"></script>